header
    .nav-list
        .areaheart
            h1
                a(href="javascript:void(0);") LOGO
            ul
                li.active
                    a(href="javascript:void(0);") HOME
                li
                    a(href="javascript:void(0);") ABOUT
                li
                    a(href="javascript:void(0);") PRODUCT
                li
                    a(href="javascript:void(0);") TEAM
                li
                    a(href="javascript:void(0);") CONTACT
    .nav-info
        .areaheart
            ul
                li
                    a(href="javascript:void(0);") 分类-home
                    h3 home
                li
                    a(href="javascript:void(0);") 分类-about
                    p about
                li
                    a(href="javascript:void(0);") 分类-product
                li
                    a(href="javascript:void(0);") 分类-team
                    h3 team
                li
                    a(href="javascript:void(0);") 分类-contact
                    p contact