doctype html
html
    head
        title 首页
        meta(name="description" content="脉友")
        meta(name="keywords" content="学习,交流,哲学,文化,娱乐")
        include includes/meta
        link(rel="stylesheet" href="public/build/common.css")
        link(rel="stylesheet" href="public/build/index.css")
    body
        p#input_text
        script(src="public/lib/bower_components/jquery/dist/jquery.min.js")
        script(src="public/build/common.js")
        script(src="public/build/index.js")